* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
}

/* TODO: Add css here */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
  }
  
  .tabs {
    display: flex;
  }
  
  .tabs button {
    flex: 1;
    padding: 20px;
    border: none;
    background-color: #383737;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .tabs button:hover:not(:disabled) {
    background-color: #384e94;
  }
  
  .tabs button:disabled {
    background-color: #384e94;
    color: #ffffff;
    cursor: not-allowed;
  }
  
  .content {
    padding: 30px 40px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .content p {
    margin: 10px 0;
    line-height: 1.6;
  }
  .title {
    font-weight: bold;
    font-size: 20px;
  }
  



@media only screen and (max-width: 960px) {

    .container {
        width: 100%;
    }

    .content {
        padding: 50px;
    }
}